.tile {
	width: 75px;
	display: inline-block;
	height: 50px;
	margin-top: -5px;
}

.enemyTile {
	animation: enemyTileBlink 1s infinite;
}

@keyframes enemyTileBlink {
	0% { background-color: black}
	50% { background-color: #f3172d }
	100% { background-color: black }
}

.highlightedTile {
	background-color: orange;
	cursor: pointer;
}

.ableToEatTile {
	background-color: blue;
	cursor: pointer;
}

.allowDraughtTile {
	background-color: black;
}

.notAllowDraughtTile {
	background-color: red;
}
